header{
    padding: 10px;
    background-color: #010101;
}
.menu{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

a{
    font-size: 2.4rem;
    color: #FEFEFE;

}



