.infoBox {
  display: flex;
  flex-direction: column;
  margin-top: 24px;

}

.infoBoxTitle {
  display: flex;
  align-items: center;
}

.infoBoxTitle h2 {
  font-size: 2.4rem;
  color: #fefefe;
}

.infoBoxTitle img{
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 5px;
    border-radius: 3px;
}

.infoBoxContent h3{
  font-size: 1.6rem;
  color: #CFCFCF;
  margin-top: 16px;
}

.infoBoxContent p{
  font-size: 1.6rem;
  color: #CFCFCF;
}

