* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
   /* 1rem = 16px (User Agent) = 100% (User Agent) */
   font-size: 62.5%; /* 10px */
  font-family: 'Poppins', sans-serif;
}

html{
  height: 100%;
  background: linear-gradient(146.88deg, #1E1F1D 1.46%, #1A1C18 99.06%);

}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');

.App{
    background: linear-gradient(146.88deg, #1E1F1D 1.46%, #1A1C18 99.06%);
}