.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding-top: 50px;
}

.fixedBox {
    display: flex;
    justify-self: center;
}

.dynamicBox {
    display: flex;
    flex-direction: column;
    justify-self: center;
    overflow-y: auto;
    width: 100%;
}

/* SCROLL */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #CFCFCF; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #FEFEFE; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #CFCFCF; 
  }
