.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding-top: 50px;
}

.fixedBox {
    display: flex;
    justify-self: center;
    width: 90%;
}

.dynamicBox {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 90%;
}